<nz-table class="ma-interfaces-table"
          [nzData]="raml.resources || []"
          [nzBordered]="false"
          [nzShowPagination]="false"
          [nzScroll]="{x: '100%'}" >
  <thead>
  <tr>
    <th nzShowExpand></th>
    <th>路径</th>
    <th>名字</th>
    <th>描述</th>
    <th nzRight="0px">操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-template #trTemplate let-resource="resource" let-level="level">
    <tr>
      <td [nzShowExpand]="resource.resources" [(nzExpand)]="resource.expand"></td>
      <td [nzIndentSize]="level*30"><code>{{resource.relativeUri}}</code></td>
      <td>{{resource.displayName}}</td>
      <td>{{resource.description}}</td>
      <td nzRight="0px">

        <nz-button-group *ngIf="modalRef">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight" nzTrigger="click">
            选&nbsp;&nbsp;择 <i nz-icon nzType="ellipsis"></i>
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item nzDisabled>方法列表</li>
              <li nz-menu-divider></li>
              <li nz-menu-item *ngFor="let method of resource.methods"
                  [nzDisabled]="method.body !=null || method.queryParameters != null">
                <a (click)="emit(resource,method)">
                  <span >{{method.displayName}}({{method.method | uppercase }}) </span>
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-button-group>

        <ng-container *ngIf="!modalRef">

          <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu2">查看视图<i nz-icon nzType="down"></i></button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item *ngFor="let method of resource.methods">
                <a (click)="navigate(resource, method)">
                  <span >{{method.displayName}}({{method.method | uppercase }})</span>
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
          <br/>
          <br/>

          <button nz-button nz-dropdown nzType="danger" [nzDropdownMenu]="menu3"><span>重建视图</span><i nz-icon type="down"></i></button>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item *ngFor="let method of resource.methods">
                <a (click)="rebuild(resource, method)">
                  <span >{{method.displayName}}({{method.method | uppercase }})</span>
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </td>
    </tr>
    <ng-container *ngIf="resource.expand">
      <ng-container *ngFor="let subResource of resource.resources">
        <ng-container *ngTemplateOutlet="trTemplate;context:{resource: subResource, level: level + 1}"></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
  <ng-container *ngFor="let resource of raml.resources">
    <ng-container *ngTemplateOutlet="trTemplate;context:{resource: resource, level: 0 }"></ng-container>
  </ng-container>
  </tbody>
</nz-table>
